/* line 1, css/default.sass */
body {
  width: 100%;
}

/* line 4, css/default.sass */
.clear {
  clear: both;
}

/* line 7, css/default.sass */
h1, h4, p, ul, ol, h5, pre, code {
  margin: 10px 0px;
}

/* line 10, css/default.sass */
pre, code {
  white-space: pre-wrap;
  display: block;
  font-family: monospace;
  margin-left: 20px;
}
/* line 15, css/default.sass */
pre code, code code {
  margin: 0;
}

/* line 18, css/default.sass */
h2 a {
  font-size: 26px;
}

/* line 21, css/default.sass */
h5 {
  font-size: 18px;
  margin-top: 15px;
}

/* line 26, css/default.sass */
#wrapper {
  width: 900px;
  margin: 0 auto;
}

/* line 30, css/default.sass */
#content {
  width: 600px;
  float: left;
}

/* line 34, css/default.sass */
#sidebar {
  width: 280px;
  float: right;
}

/* line 40, css/default.sass */
ul li {
  list-style: disc;
}
/* line 42, css/default.sass */
ul li ul li {
  list-style: circle;
}

/* line 46, css/default.sass */
.recent-posts {
  width: 100%;
}
/* line 49, css/default.sass */
.recent-posts ul li {
  margin-left: 0px;
}
/* line 51, css/default.sass */
.recent-posts h2 {
  display: inline-block;
  float: left;
}
/* line 54, css/default.sass */
.recent-posts .rss {
  margin-top: 10px;
  display: inline-block;
  float: right;
}

/* line 60, css/default.sass */
.pages {
  margin: 35px 60px;
  float: left;
}
/* line 63, css/default.sass */
.pages a {
  padding: 0 20px;
}

/* line 67, css/default.sass */
.tags {
  margin: 10px 0;
}
/* line 69, css/default.sass */
.tags a {
  margin: 0 10px;
}

/* line 72, css/default.sass */
.header {
  float: left;
}

/* line 76, css/default.sass */
.tag-cloud a {
  margin: 0 2px;
}
