/* line 6, css/default.sass */
body {
  width: 100%;
}

/* line 9, css/default.sass */
.clear {
  clear: both;
}

/* line 12, css/default.sass */
h1, h4, p, ul, ol, h5, pre, code {
  margin: 10px 0px;
}

/* line 15, css/default.sass */
pre, code {
  white-space: pre-wrap;
  display: block;
  font-family: monospace;
  margin-left: 20px;
}
/* line 20, css/default.sass */
pre code, code code {
  margin: 0;
}

/* line 23, css/default.sass */
h2 a {
  font-size: 26px;
}

/* line 26, css/default.sass */
h5 {
  font-size: 18px;
  margin-top: 15px;
}

/* line 30, css/default.sass */
hr {
  border-style: inset;
  border-width: 1px;
  border-color: grey;
}

/* line 33, css/default.sass */
#wrapper {
  width: 920px;
  margin: 0 auto;
}
/* line 37, css/default.sass */
#wrapper #content {
  width: 600px;
  float: left;
}
/* line 41, css/default.sass */
#wrapper #sidebar {
  width: 280px;
  float: right;
}
/* line 45, css/default.sass */
#wrapper .vsplit {
  float: left;
  height: 800px;
  margin: 0 15px;
  border-style: inset;
  border-width: 1px;
  border-color: grey;
}

/* line 55, css/default.sass */
ul li {
  list-style: disc;
}
/* line 57, css/default.sass */
ul li ul li {
  list-style: circle;
}

/* line 61, css/default.sass */
.recent-posts {
  width: 100%;
}
/* line 63, css/default.sass */
.recent-posts ul {
  padding-left: 25px;
}
/* line 65, css/default.sass */
.recent-posts ul li {
  margin-left: 0px;
}
/* line 67, css/default.sass */
.recent-posts h2 {
  display: inline-block;
  float: left;
}
/* line 70, css/default.sass */
.recent-posts .rss {
  margin-top: 10px;
  display: inline-block;
  float: right;
}

/* line 78, css/default.sass */
.tags {
  margin: 10px 0;
}
/* line 80, css/default.sass */
.tags a {
  margin: 0 10px;
}

/* line 84, css/default.sass */
.header .title {
  float: left;
}
/* line 86, css/default.sass */
.header .pages {
  margin: 35px 120px;
  float: left;
}
/* line 89, css/default.sass */
.header .pages a {
  padding: 0 20px;
}
/* line 91, css/default.sass */
.header .avatar {
  margin-top: 15px;
  float: right;
}
/* line 92, css/default.sass */
.header .avatar img {
  width: 64px;
  height: 64px;
}
/* line 97, css/default.sass */
.header hr {
  margin: 5px 0 10px 0;
}

/* line 102, css/default.sass */
.tag-cloud a {
  margin: 0 2px;
}

/* line 105, css/default.sass */
.footer {
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
}

/* line 111, css/default.sass */
.post hr {
  margin: 15px 0 25px 0;
}
