---
layout: default
title: Move along, nothing to see here
---
{% for post in paginator.posts %}
    <div class="post">
        <h2>
            <a href='{{ post.url }}'>{{ post.title }}</a>
        </h2>
        {{ post.preview  }}
        {% include tags.html %}
        <hr/>
    </div>
{% endfor %}

<div class='paginator'>
    {% if paginator.next_page %}
        <div class='paginator-next'>
            <a href='/?page={{paginator.next_page}}'>
                Earlier posts &rarr;
            </a>
        </div>
    {% endif %}
    {% if paginator.previous_page %}
        <div class='paginator-prev'>
            {% if paginator.previous_page==1 %}
                <a href='/page{{paginator.previous_page}}'>
                    &larr; Later posts
                </a>
            {% else %}
                <a href='/'>
                    &larr; Later posts
                </a>
            {% endif %}
        </div>
    {% endif %}
    <div class='clear'></div>
</div>
